<table class="table">
    <tr>
        <td>Name:</td>
        <td><input [(ngModel)]="name"></td>
    </tr>
    <tr>
        <td>Duration:</td>
        <td><select [(ngModel)]="durationChoice">
                <option>Short</option>
                <option>Long</option>
                <option>Extended</option>
                <option>Protracted</option>
                <option>Any</option>
            </select></td>
    </tr>
    <tr>
        <td>Chance of Permanence:</td>
        <td><select [(ngModel)]="permanenceChance">
                <option>None</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
                <option>Certain</option>
            </select></td>
    </tr>
    <tr>
        <td>Chance of Stripping:</td>
        <td><select [(ngModel)]="stripChance">
                <option>None</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
                <option>Certain</option>
            </select>
            Max Articles: <select [(ngModel)]="maxArticles">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select></td>
    </tr>
    <tr>
        <td>Chance of Expression:</td>
        <td><select [(ngModel)]="expressionChance">
                <option>None</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
                <option>Certain</option>
            </select></td>
    </tr>
    <tr>
        <td>Chance of Pose:</td>
        <td><select [(ngModel)]="poseChance">
                <option>None</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
                <option>Certain</option>
            </select></td>
    </tr>
    <tr>
        <td>Blacklist:</td>
        <td><input [(ngModel)]="blacklist"></td>
    </tr>
    <tr>
        <td>Custom Choices: </td>
        <td><input [(ngModel)]="custom"></td>
    </tr>
</table>
<p><a class="button" (click)='getFate()'>Submit to Fate</a></p>
<br />
<br />
<div *ngIf='showBanner'>
    <p><strong>{{name}}</strong>, your fate is...</p>
</div>
<div>
    <div [@fateState]="fadeStripped" *ngIf='stripped'>You will be stripped <strong>{{stripDescription}}</strong>...</div>
    <div [@fateState]="fadeMaterial"><p>You will be transformed into <strong>{{material}}</strong>...</p></div>
    <div [@fateState]="fadeExpression" *ngIf='expression'>...{{expressionDescription}}...</div>
    <div [@fateState]="fadePose" *ngIf='posed'>...you are posed {{poseDescription}}...</div>

    <div [@fateState]="fadeDuration"> <p>...you will stay that way <span *ngIf='permanent'><strong>permanently!</strong></span><span *ngIf='!permanent'>for
            the next <strong>{{duration}}</strong>.</span></p> </div>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            by FailedSave; support, questions, or suggestions: FailedSave#3067; <a target="_blank" href="https://github.com/FailedSave/FateBot">changelog
                + code</a>
        </p>
    </div>
</footer>